<section
  *ngIf="(table == 'users' || table == 'all') && isAdmin"
  class="px-60 py-20"
>
  <h3>Users</h3>

  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th class="px-6 py-3">id</th>
        <th class="px-6 py-3">login</th>
        <th class="px-6 py-3">password</th>
        <th class="px-6 py-3">admin</th>
        <th class="px-6 py-3">add</th>
        <th class="px-6 py-3">update</th>
        <th class="px-6 py-3">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        *ngFor="let user of users"
      >
        <td class="px-6 py-3">{{ user.id }}</td>
        <td class="px-6 py-3">
          {{ user.login }}
        </td>
        <td class="px-6 py-3">
          {{ user.password }}
        </td>
        <td class="px-6 py-3">
          {{ user.admin }}
        </td>
        <td class="px-6 py-3"></td>
        <td class="px-6 py-3">
          <button
            class="bg-blue-500 rounded p-2 text-white"
            [routerLink]="'/update/users/' + user.id"
          >
            Update
          </button>
        </td>
        <td class="px-6 py-3">
          <button
            class="bg-red-500 rounded p-2 text-white"
            (click)="deleteUser(user.id)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td class="px-6 py-3"></td>
        <td class="px-6 py-3">
          <input
            #login
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            name="login"
            placeholder="login"
          />
        </td>
        <td class="px-6 py-3">
          <input
            #password
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            name="password"
            placeholder="password"
          />
        </td>
        <td class="px-6 py-3">
          <input
            #admin
            class="w-4 h-4 text-blue-600 bg-gray-700 border-gray-700 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            type="checkbox"
            name="admin"
            placeholder="admin"
          />
        </td>
        <td class="px-6 py-3">
          <button
            class="bg-green-500 rounded p-2 text-white"
            (click)="addUser(login.value, password.value, admin.checked)"
          >
            Add
          </button>
        </td>
        <td class="px-6 py-3"></td>
        <td class="px-6 py-3"></td>
      </tr>
    </tbody>
  </table>
</section>

<section *ngIf="table == 'cars' || table == 'all'" class="px-60 py-20">
  <h3>Cars</h3>

  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th class="px-6 py-3">id</th>
        <th class="px-6 py-3">model</th>
        <th class="px-6 py-3">user_id</th>
        <th class="px-6 py-3">add</th>
        <th class="px-6 py-3">update</th>
        <th class="px-6 py-3">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        *ngFor="let car of filteredCars"
      >
        <td class="px-6 py-3">{{ car.id }}</td>
        <td class="px-6 py-3">
          {{ car.model }}
        </td>
        <td class="px-6 py-3">
          {{ car.user_id }}
        </td>
        <td class="px-6 py-3"></td>

        <td class="px-6 py-3">
          <button
            class="bg-blue-500 rounded p-2 text-white"
            [routerLink]="'/update/cars/' + car.id"
          >
            Update
          </button>
        </td>
        <td class="px-6 py-3">
          <button
            class="bg-red-500 rounded p-2 text-white"
            (click)="deleteCar(car.id)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td class="px-6 py-3"></td>
        <td class="px-6 py-3">
          <input
            #model
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            name="model"
            placeholder="model"
          />
        </td>
        <td class="px-6 py-3">
          <input
            #user_id
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            name="user_id"
            placeholder="user_id"
          />
        </td>
        <td class="px-6 py-3">
          <button
            class="bg-green-500 rounded p-2 text-white"
            (click)="addCar(model.value, user_id.value)"
          >
            Add
          </button>
        </td>
        <td class="px-6 py-3"></td>
        <td class="px-6 py-3"></td>
      </tr>
    </tbody>
  </table>
</section>

<section *ngIf="table == 'trajectories' || table == 'all'" class="px-60 py-20">
  <h3>Trajectories</h3>

  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th class="px-6 py-3">id</th>
        <th class="px-6 py-3">from</th>
        <th class="px-6 py-3">to</th>
        <th class="px-6 py-3">car_id</th>
        <th class="px-6 py-3">add</th>
        <th class="px-6 py-3">update</th>
        <th class="px-6 py-3">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        *ngFor="let trajectory of filteredTrajectories"
      >
        <td class="px-6 py-3">{{ trajectory.id }}</td>
        <td class="px-6 py-3">
          {{ trajectory.from_place }}
        </td>
        <td class="px-6 py-3">
          {{ trajectory.to_place }}
        </td>
        <td class="px-6 py-3">
          {{ trajectory.car_id }}
        </td>
        <td class="px-6 py-3"></td>
        <td class="px-6 py-3">
          <button
            class="bg-blue-500 rounded p-2 text-white"
            [routerLink]="'/update/trajectories/' + trajectory.id"
          >
            Update
          </button>
        </td>
        <td class="px-6 py-3">
          <button
            class="bg-red-500 rounded p-2 text-white"
            (click)="deleteTrajectory(trajectory.id)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td class="px-6 py-3"></td>
        <td class="px-6 py-3">
          <input
            #from_place
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            name="from_place"
            placeholder="from_place"
          />
        </td>
        <td class="px-6 py-3">
          <input
            #to_place
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            name="to_place"
            placeholder="to_place"
          />
        </td>
        <td class="px-6 py-3">
          <input
            #car_id
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            name="car_id"
            placeholder="car_id"
          />
        </td>
        <td class="px-6 py-3">
          <button
            class="bg-green-500 rounded p-2 text-white"
            (click)="
              addTrajectory({
                id: '',
                from_place: from_place.value,
                to_place: to_place.value,
                car_id: car_id.value
              })
            "
          >
            Add
          </button>
        </td>
        <td class="px-6 py-3"></td>
        <td class="px-6 py-3"></td>
      </tr>
    </tbody>
  </table>
</section>
