/* car.component.scss */
/* Table styles */

$background: #252525;
$background-secondary: #1e1e1e;

section {
  background-color: $background;
  padding: 2em;
  color: white;
}

table {
  background-color: $background-secondary;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Table header styles */
th {
  background-color: $background;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Table row styles */
tr {
  transition: background-color 0.3s ease;
}

/* Alternate row background colors */
tr:nth-child(even) {
  background-color: $background;
}

/* Hover effect for rows */
tr:hover {
  background-color: $background;
}

/* Table cell styles */
td {
  padding: 8px;
}

.modify {
  background-color: green;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
