$background: #252525;
$background-secondary: #1e1e1e;

section {
  padding: 2em;
  color: white;
  background-color: $background;
}

div {
  display: flex;
  justify-items: between;
  gap: 1em;
}

input {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}
